table {
	min-width: 40%;
}
th,td {
	border: 1px solid gray;
}
tr.selected {
	background: red;
}
.selected {
	background: #00ff00;
}
#row4 {
	background: aqua;
}
table h1 {
	color: blue;
}
td > p {
	color: white;
}
td p {
	font-size: 2em;
}
